<!-- Container principal -->
<div class="order-container">
    <p>Order #{{numberOrder}}</p>
    <!-- Container rectangulo -->
    <div class="order-rectangle">
        <!-- Container header -->
        <div class="order-header">
            <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/header/FCL/freight.svg" alt="freight">
            <p>{{type}}</p>
            <p>In transit</p>
        </div>

        <!-- Container body -->
        <div class="order-body">

            <!-- Iconos de pickup y dropoff-->
            <div class="address">
                <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/Group 2.svg" alt="group">
                <div class="line-address"></div>
                <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/marker.svg" alt="marker">
            </div>

            <!-- Información de pickup -->
            <div class="pickup">
                <p class="pickup-p">Pickup</p>
                <p class="pickup-state">{{destinationPickup}}</p>
                <!-- <p class="pickup-street">25 Mortada street, Gainakes..</p> -->
                <div class="pickup-date">
                    <!-- <p>{{startDateformat}}</p> -->
                    <p class="date-day">{{startDateformat}}</p>
                    <p class="hour">{{startDateformatHour}}</p>
                </div>
            </div>
            
            <!-- Información de dropoff -->
            <div class="dropoff">
                <p class="dropoff-p">Dropoff</p>
                <p class="dropoff-state">{{destinationDropoff}}</p>
                <!-- <p class="dropoff-street">1789 NJ-27, Edison, 08817...</p> -->
                <div class="dropoff-date">
                    <p class="date-day">{{endDateformat}}</p>
                    <p class="hour">{{endDateformatHour}}</p>
                </div>
            </div>

            <!-- Botones -->
            <div class="buttons">
                <button>It's time for pickup</button>
                <button (click)="onResumeClick()">
                    Resume
                    <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Group 4-1/eye.svg" alt="">
                </button>
            </div>
            
        </div>
    </div>
</div>