<!-- Container principal -->
<div class="order-container">
    <p>Order #(API)</p>
    <!-- Container rectangulo -->
    <div class="order-rectangle">
        <!-- Container header -->
        <div class="order-header">
            <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/header/FCL/freight.svg" alt="freight">
            <p>FLC</p>
            <p>In transit</p>
        </div>

        <!-- Container body -->
        <div class="order-body">

            <!-- Iconos de pickup y dropoff-->
            <div class="address">
                <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/Group 2.svg" alt="group">
                <div class="line-address"></div>
                <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/marker.svg" alt="marker">
            </div>

            <!-- Información de pickup -->
            <div class="pickup">
                <p class="pickup-p">Pickup</p>
                <p class="pickup-state">New York</p>
                <p class="pickup-street">25 Mortada street, Gainakes..</p>
                <div class="pickup-date">
                    <p class="date-day">01/04/23</p>
                    <p class="hour">10:45</p>
                </div>
            </div>
            
            <!-- Información de dropoff -->
            <div class="dropoff">
                <p class="dropoff-p">Dropoff</p>
                <p class="dropoff-state">New York</p>
                <p class="dropoff-street">1789 NJ-27, Edison, 08817...</p>
                <div class="dropoff-date">
                    <p class="date-day">01/04/23</p>
                    <p class="hour">17:30</p>
                </div>
            </div>

            <!-- Botones -->
            <div class="buttons">
                <button>It's time for pickup</button>
                <button>Resume</button>
            </div>
            
        </div>
    </div>
</div>