.order-container{
    // background-color: red;
    width: 100%;
    height: auto;
    .order-rectangle{
        // background-color: rebeccapurple;
        background: linear-gradient(44.99999945233901deg, #080C0F, rgba(39,39,39,0)  );
        border-radius: 25px;
        .order-header{
            display: flex;
            position: relative;
            flex-direction: row;
            gap:10px;
            padding: 5px 10px 5px 10px;
            border-bottom: 1px solid #252525;
            
            :last-child{
                position: absolute;
                padding-right: 10px;
                right: 20px;
            }
        
        }

        .order-body{
            // padding:40px 20px 0px 10px;
            .address{
                padding:40px 20px 0px 10px;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:1rem;
                .line-address{
                    width: 1px;
                    border:none;
                    height: 2.5em;
                    background: linear-gradient(to bottom, rgb(116, 116, 116), rgb(26, 25, 25));
                }
            }
            .pickup{
                // background-color: blue;
                padding-top: 30px;
                padding-left: 20px;
                position: relative;
                width:calc(100% - 10%);
                left:calc(10%);
                p{
                    margin-bottom: 0.1em;
                    margin-top: 0.1em;
                }
                .pickup-p{
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                    color:#7B7B7B;
                }
                .pickup-state{
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                }
                .pickup-street{
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                }
                .pickup-date{
                    // color:red;
                    position:absolute;
                    width: fit-content;
                    margin-right: 40px;
                    padding-top: 30px;
                    right:0;
                    top:10px;
                    .date-day{
                        color:#979797;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                    .hour{
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .dropoff{
                position: relative;
                margin-top: 0.2em;
                padding-top:20px;
                padding-left:20px;
                // background-color: red;
                width:calc(100% - 10%);
                left:calc(10%);
                p{
                    margin-bottom: 0.2em;
                    margin-top: 0.2em;
                }
                .dropoff-p{
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                    color:#7B7B7B;
                }
                .dropoff-state{
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                }
                .dropoff-street{
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 14px;
                }

                .dropoff-date{
                    position:absolute;
                    right:0;
                    top:10px; 
                    margin-right: 40px;
                    padding-top: 22px;
                    .date-day{
                        color:#979797;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                    .hour{
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .buttons{
                margin-top: 2em;
                display: flex;
                justify-content: space-between;
                position:relative;                
                button{  
                    cursor:pointer;
                    align-items: center;
                    width:199px;
                    height: 50px;
                    border:none;
                    font-size: 14px;
                    color:#080C0F;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 19px;
                    background-color: #FFFF00;
                    border-radius:0 25px 25px 25px;
                    box-shadow: inset 2px 2px 4px 0 #FFFF4E, inset -2px -2px 4px 0 #C2C200;
                }
                button:nth-child(2){
                    display: flex;
                    justify-content: center;
                    gap:15px;
                    margin-top: 5px;
                    width: 130px;
                    height: 43.87px;
                    border-radius:21.93px;
                    box-shadow: inset -2px -2px 4px 0 #C2C200, inset 2px 2px 4px 0 #FFFF80;

                }
            }
        }
    }
}

