.order-reference-container{
    width: 100%;
    height: auto;
    // background-color: blue;
    background: linear-gradient(44.99999945233901deg, #080C0F, rgba(39,39,39,0));
    // border-radius: 25px;
    border-radius: 35px 0 0 35px;
    .order-reference-body{
        padding: 20px;
    }
    .order-reference-header{
        margin-bottom: 2em;
        p{
            margin-bottom: 0.1em;
            margin-top: 0.1em;
        }
        .or-reference{
            height: 14px;
            width: 115px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 19px;
        }
        .or-order{
            height: 25px;
            width: 149px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 25px;
        }
    }

    .order-reference-address{
        position: absolute;
        display: flex;
        margin-top:10px;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        .or-line-address{
            width: 1px;
            border:none;
            height: 45px;
            background: linear-gradient(to bottom, rgb(116, 116, 116), rgb(26, 25, 25));  
        }
    }

    .order-reference-pickup{
        padding-left: 50px;
        position: relative;
        width: fit-content;
        p{
            margin-bottom: 0.2em;
            margin-top:0.2em;
        }
        .or-status-pickup{
            position: relative;
            display: flex;
            flex-direction: row;
            background-color: #171A1D;
            width: fit-content;
            border-radius: 10px;
            font-size:12px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 16px;
            padding:2px;
            .grey-dot-bg{
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #949494;
                box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);                border-radius: 50%;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 4px;
            }
            p{
                margin-left: 18px;
            }
        }
        .or-pickup-p{
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
            color:#7B7B7B;
        }
        .or-pickup-state{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
        }
        .or-pickup-street{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
        }
    }



    .order-reference-dropoff{
        position: relative;
        // margin-top: 1px;
        margin-top:20px;
        // padding-left:20px;
        // background-color: red;
        padding-left: 50px;
        width: fit-content;
        p{
            margin-bottom: 0.2em;
            margin-top: 0.2em;
        }
        .or-status-dropoff{
            position: relative;
            display: flex;
            flex-direction: row;
            background-color: #171A1D;
            width: fit-content;
            border-radius: 10px;
            font-size:12px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 16px;
            padding:2px;
            .grey-dot-bg{
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #949494;
                box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);                border-radius: 50%;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 4px;
            }
            p{
                margin-left: 18px;
            }
        }
        .or-dropoff-p{
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
            color:#7B7B7B;
        }
        .or-dropoff-state{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
        }
        .or-dropoff-state{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
}