<div class="order-reference-container">
    <div class="order-reference-body">
        <div class="order-reference-header">
            <p class="or-reference">Referencia A1180</p>
            <p class="or-order">Order #7804GNZ</p>    
        </div>
        <div class="order-reference-address">
            <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/Group 2.svg " alt="group">
            <div class="or-line-address"></div>
            <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Order 1/where to/address/marker.svg" alt="marker">
        </div>
        <div class="order-reference-pickup">

            <p class="or-pickup-p">Pickup</p>
            <p class="or-pickup-state">New York</p>
            <p class="or-pickup-street">25 Mortada street, Gainakes..</p>
            <p class="or-status-pickup">Accepted</p>
        </div>
        <div class="order-reference-dropoff">
            <p class="or-dropoff-p">Dropoff</p>
            <p class="or-dropoff-state">New York</p>
            <p class="or-dropoff-street">1789 NJ-27, Edison, 08817...</p>
            <p class="or-status-dropoff">On hold</p>
        </div>
    </div>
</div>