button {
    text-align: left;
    padding: 20px;
    width: 100%;
    background: linear-gradient(45deg, #080C0F 0%, rgba(85,85,85,0) 100%);
    border:none;
    border-radius: 6px;
    color:white;
}

.pickup-data-info{
    color:white;
}