<!-- <app-header [title]="title"></app-header> -->
<app-order-detail [number_order]="number_order" 
                  [number_reference]="numberReference"
                  [destination_pickup]="destinationPickup"
                  [destination_dropoff]="destinationDropoff"
                  [pickup_status]="pickupStatus"
                  [dropoff_status]="dropoffStatus"
                  [pickup_status_class]="pickupStatusClass"
                  [dropoff_status_class]="dropoffStatusClass"
                  >
</app-order-detail>

<app-track-card></app-track-card>


<br>
<div class="pickup-data">
    <button (click)="open()">Pickup Data
        <img [class.rotate]="openBnd" src="../../../../assets/inspect/App BeGo/Contenedores/Cargo Details Upcoming/angle-small-down.svg" alt="">
    </button>

    <div class="pickup-data-info">
        @if (openBnd) {
        <ng-container>
            <p>{{destinationPickup}}</p>
            <p>{{startDateformat}} {{startDateformatHour}}</p>
            <p>{{pickupPhone}}</p>
            <p>{{pickupEmail}}</p>
        </ng-container>
        }

    </div>
    
</div>