
<!-- Header -->
<app-header [title]="title" (backClicked)="onBack()"></app-header>

<!-- Upcoming-Completed-Past -->
<div class="tabs-container">
    <p>Upcoming</p>
    <p>Completed</p>
    <p>Past</p>
</div>

<!-- Searcher -->
<div class="search-container">
    <input type="text" placeholder="Search..">
</div>

@if(!bndDetail){
@for (order of data; track $index) {
    <app-cargo-orders [number_order]="order.orderNumber" 
                      [type]="order.type" 
                      [destinationPickup]="order.destinationPickup" 
                      [destinationDropoff]="order.destinationDropoff"
                      [start_date]="order.start_date"
                      [end_date]="order.end_date"
                      (resumeClicked)="resumeClickedHome()"
    ></app-cargo-orders>
}
}


@if (bndDetail) {
    <app-cargo-details></app-cargo-details>
}
