
<!-- Header -->
<app-header [title]="title" (backClicked)="onBack()"></app-header>

<!-- Upcoming-Completed-Past -->
<div class="tabs-container">
    <p>Upcoming</p>
    <p>Completed</p>
    <p>Past</p>
</div>

<!-- Searcher -->
@if(!bndDetail){
    <ng-container>
        <div class="search-container">
            <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Orders/Search/Group/search.svg" alt="">
            <input type="text" placeholder="Search.." [(ngModel)]="search">
        </div>
        </ng-container>


@for (order of data; track $index) {
    <app-cargo-orders [number_order]="order.orderNumber" 
                      [type]="order.type" 
                      [destinationPickup]="order.destinationPickup" 
                      [destinationDropoff]="order.destinationDropoff"
                      [start_date]="order.start_date"
                      [end_date]="order.end_date"
                      (resumeClicked)="resumeClickedHome()"
    ></app-cargo-orders>
}
}


@if (bndDetail) {
    <app-cargo-details [number_order]="dataDetail.orderNumber" 
                       [numberReference]="dataDetail.referenceNumber"
                       [destinationPickup]="dataDetail.destinationPickup"
                       [destinationDropoff]="dataDetail.destinationDropoff"
                       [pickupStatus]="dataDetail.pickupStatus"
                       [dropoffStatus]="dataDetail.dropoffStatus"
                       [pickupStatusClass]="dataDetail.pickupStatusClass"
                       [dropoffStatusClass]="dataDetail.dropoffStatusClass"
                       
                       [pickupStartDate]="dataDetail.pickupStartDate"
                       [pickupPhone]="dataDetail.pickupPhone"
                       [pickupEmail]="dataDetail.pickupEmail"
                       >
    </app-cargo-details>
}
