<div class="track-card-container">
    <div class="image">
        <img src="../../assets/inspect/App BeGo/Contenedores/Cargo Details Upcoming/Track Card/Driver/Driver.png" alt="">
    </div>

    <div class="track-card-body">
        <div class="track-card-body-info">
            <p>10:30 PM</p>
            <div class="stepper">
                <div class="step created-order">
                    <img src="" alt="Icono" class="icon">
                    <p>Creater order</p>
                </div>

                <div class="step accepted-order">
                    <img src="" alt="Icono" class="icon">
                    <p>Accepted Order</p>
                </div>

                <div class="step pickup-set-up">
                    <img src="" alt="Icono" class="icon">
                    <p>Pickup set up by William</p>
                </div>

                <div class="step pickup-completed">
                    <img src="" alt="Icono" class="icon">
                    <p>Pickup Completed</p>
                </div>
            </div>

            <div class="button">
                <button>Track Order</button>
            </div>
        </div>
    </div>
</div>
